// adaptive

@adaptive-desktop-small: 1650px;
@adaptive-notebook: 1550px;
@adaptive-notebook-small: 1370px;
@adaptive-tablet: 1030px;
@adaptive-tablet-small: 850px;
@adaptive-mobile: 500px;
@adaptive-mobile-small: 370px;

// common 

@main-background: #fff;

@font-size: 14px;
@font-family: system-ui, 'Segoe UI', Helvetica, 'Gill Sans', 'Verdana', 'Arial', sans-serif;
@font-weight: 400;
@line-height: 130%;
@text-color: #222;

@h-line-height: 130%;
@h1-font-size: 56px;
@h1-font-weight: 600;
@h2-font-size: 50px;
@h2-font-weight: 600;
@h3-font-size: 28px;
@h3-font-weight: 600;
@h4-font-size: 22px;
@h4-font-weight: 600;
@h5-font-size: 18px;
@h5-font-weight: 600;

@content-max-width: 1280px;
@content-min-width: 320px;
@content-padding-lr: 40px;

@svg-size: 20px;
@svg-fill: @text-color;
@svg-stroke: none;

@popup-fill: @main-background;
@popup-border-style: solid;
@popup-border-width: 1px;
@popup-border-color: #aaa;
@popup-border-radius: 5px;
@popup-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.12);

// inputs

@placeholder-font-weight: inherit;
@placeholder-font-style: inherit;
@placeholder-color: inherit;

@input-border-width: 1px;
@input-border-color: #aaa;
@input-border-type: solid;
@input-border-radius: 0;
@input-fill: #fff;

@input-width: auto;
@input-height: 42px;
@input-padding-lr: 13px;
@textarea-size: 100px;

@input-color: @text-color;
@input-font-size: 14px;
@input-line-height: 1.2rem;
@input-font-weight: inherit;
@input-font-style: inherit;

@hover--input-border-color: #666;
@hover--input-fill: @input-fill;
@hover--input-color: @input-color;

@focus--input-border-color: #222;
@focus--input-fill: @input-fill;
@focus--input-color: @input-color;

@readonly--input-fill: #f7f7f7;
@readonly--input-color: @input-color;

@disabled--input-border-color: #aaa;
@disabled--input-fill: #eee;
@disabled--input-color: @input-color;

@invalid--input-border-color: red;
@invalid--input-fill: #ffdcdc;
@invalid--input-color: @input-color;

@incorrect--input-fill: #ffdcdc;
@incorrect--input-color: inherit;

@variable--input-text-fill: #be6cce;
@spintax--input-text-fill: #87c671;
@link--input-text-fill: #45aedc;

@preview--input-fill: #D9FDD3;

@toggler-height: 30px;
@toggler-padding: 3px;
@toggler-round-fill: @focus--input-border-color;
