@MainBackground: #fff;

@FontSize: 14px;
@FontFamily: system-ui, 'Segoe UI', Helvetica, 'Gill Sans', 'Verdana', 'Arial', sans-serif;
@FontWeight: 400;
@LineHeight: 130%;
@TextColor: #222;

@HLineHeight: 130%;
@H1FontSize: 56px;
@H1FontWeight: 600;
@H2FontSize: 50px;
@H2FontWeight: 600;
@H3FontSize: 28px;
@H3FontWeight: 600;
@H4FontSize: 22px;
@H4FontWeight: 600;
@H5FontSize: 18px;
@H5FontWeight: 600;

@ContentMaxWidth: 1280px;
@ContentMinWidth: 320px;
@ContentPaddingLr: 40px;

@SvgSize: 20px;
@SvgFill: @TextColor;
@SvgStroke: none;

@PopupFill: @MainBackground;
@PopupBorderStyle: solid;
@PopupBorderWidth: 1px;
@PopupBorderColor: #aaa;
@PopupBorderRadius: 5px;
@PopupBoxShadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.12);

:root {
	// body
	--main-background: @MainBackground;
	--font-size: @FontSize;
	--font-family:@FontFamily;
	--font-weight: @FontWeight;
	--line-height: @LineHeight;
	--text-color: @TextColor;

	// headers
	--h-line-height: @HLineHeight;
	--h1-font-size: @H1FontSize;
	--h1-font-weight: @H1FontWeight;
	--h2-font-size: @H2FontSize;
	--h2-font-weight: @H2FontWeight;
	--h3-font-size: @H3FontSize;
	--h3-font-weight: @H3FontWeight;
	--h4-font-size: @H4FontSize;
	--h4-font-weight: @H4FontWeight;
	--h5-font-size: @H5FontSize;
	--h5-font-weight: @H5FontWeight;

	// content-width
	--content-max-width: @ContentMaxWidth; // максимальная ширина контентной области
	--content-min-width: @ContentMinWidth; // минимальная ширина контентной области
	--content-padding-lr: @ContentPaddingLr; // отступы контентной области слева и справа до краёв браузера

	// svg
	--svg-size: @SvgSize;
	--svg-fill: @SvgFill;
	--svg-stroke: @SvgStroke;

	// popup

	--popup-fill: @PopupFill;
	--popup-border-style: @PopupBorderStyle;
	--popup-border-width: @PopupBorderWidth;
	--popup-border-color: @PopupBorderColor;
	--popup-border-radius: @PopupBorderRadius;
	--popup-box-shadow: @PopupBoxShadow;
}

// Body styles

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	overflow: auto;
	font-size: var(--font-size);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	color: var(--text-color);
	background: var(--main-background);
}

// Header styles

h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
	line-height: var(--h-line-height);
}

h1 {
	font-size: var(--h1-font-size);
	font-weight: var(--h1-font-weight);
}

h2 {
	font-size: var(--h2-font-size);
	font-weight: var(--h2-font-weight);
}

h3 {
	font-size: var(--h3-font-size);
	font-weight: var(--h3-font-weight);
}

h4 {
	font-size: var(--h4-font-size);
	font-weight: var(--h4-font-weight);
}

h5 {
	font-size: var(--h5-font-size);
	font-weight: var(--h5-font-weight);
}

// Svg styles

svg {
	display: block;
	width: var(--svg-size);
	height: var(---svg-size);
	fill: var(--svg-fill);
	stroke: var(--svg-stroke);
}

// Content width styles

.content-width {
	width: 100%;
	max-width: var(--content-max-width);
	margin: 0 auto;
	padding-left: var(--content-padding-lr);
	padding-right: var(--content-padding-lr);
	box-sizing: border-box;
}

// Popup styles

.ui-popup {
	position: absolute;
	box-sizing: border-box;
	z-index: 1000;
	background: var(--popup-fill);
	border-style: var(--popup-border-style);
	border-color: var(--popup-border-color);
	border-width: var(--popup-border-width);
	border-radius: var(--popup-border-radius);
	box-shadow: var(--popup-box-shadow);
	visibility: collapse;

	&.opened {
		visibility: visible;
	}
}

.ui-popup-expanded {
	& ~ .ui-popup {
		visibility: visible;
	}
}