@import "reset.less";

:root {
	--font-size: 14px;
	--font-family: system-ui, 'Segoe UI', Helvetica, 'Gill Sans', 'Verdana', 'Arial', sans-serif;
	--font-weight: 400;
	--line-height: 130%;
	--text-color: #222;
	
	--main-background: #fff;

	--h-line-height: 130%;
	--h1-font-size: 56px;
	--h1-font-weidth: 600;
	--h2-font-size: 50px;
	--h2-font-weidth: 600;
	--h3-font-size: 28px;
	--h3-font-weidth: 600;
	--h4-font-size: 22px;
	--h4-font-weidth: 600;
	--h5-font-size: 18px;
	--h5-font-weidth: 600;

	--content-max-width: 1280px; // максимальная ширина контентной области
	--content-min-width: 320px; // минимальная ширина контентной области
	--content-padding-lr: 40px; // отступы контентной области слева и справа до краёв браузера

	// border
	--input-border-width: 1px;
	--input-border-color: #aaa;
	--input-border-type: solid;
	--input-border-radius: 0;
	// fill
	--input-fill: #fff;
	--input-color: var(--text-color);
	// size
	--input-width: auto;
	--input-height: 42px;
	--input-padding-lr: 15px;
	// font
	--input-font-size: inherit;
	--input-font-weidth: inherit;
	--input-font-style: inherit;

	--hover--input-border-color: #555;
	--hover--input-fill: var(--input-fill);
	--hover--input-color: var(--input-color);

	--disabled--input-border-color: #aaa;
	--disabled--input-fill: #eee;
	--disabled--input-color: var(--input-color);

	--invalid--input-border-color: red;
	--invalid--input-fill: var(--input-fill);
	--invalid--input-color: var(--input-color);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	overflow: auto;
	font-size: var(--font-size);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	color: var(--text-color);
	background: var(--main-background);
}

h1, h2, h3, h4, h5 {
	line-height: var(--h-line-height);
}

h1 {
	font-size: var(--h1-font-size);
	font-weight: var(--h1-font-weidth);
}

h2 {
	font-size: var(--h2-font-size);
	font-weight: var(--h2-font-weidth);
}

h3 {
	font-size: var(--h3-font-size);
	font-weight: var(--h3-font-weidth);
}

h4 {
	font-size: var(--h4-font-size);
	font-weight: var(--h4-font-weidth);
}

h5 {
	font-size: var(--h5-font-size);
	font-weight: var(--h5-font-weidth);
}

.content-width {
	width: 100%;
	max-width: var(--content-max-width);
	margin: 0 auto;
	padding-left: var(--content-padding-lr);
	padding-right: var(--content-padding-lr);
	box-sizing: border-box;
}

@import "inputs.less";