@import (reference) "@brandup/ui-kit/source/adaptive.less";

:root {
	// overide ui kit vars
	--font-size: 14px;
	--line-height: 140%;
	--h-line-height: 140%;
	--h1-font-size: 40px;
	--h2-font-size: 32px;
	--h3-font-size: 26px;
	--h4-font-size: 22px;
	--h5-font-size: 18px;
	--input-border-radius: 5px;

	// define new vars
	--link-color: var(--text-color);
	--link-decoration: underline;
	--link-weight: var(--font-weight);
	--hover--link-color: var(--link-color);
	--hover--link-decoration: underline;
	--content-padding-lr: 50px;

	.adaptive-notebook({
		--content-padding-lr: 40px;
	});

	.adaptive-tablet({
		--content-padding-lr: 30px;

		--h1-font-size: 30px;
		--h2-font-size: 28px;
		--h3-font-size: 24px;
		--h4-font-size: 20px;
		--h5-font-size: 17px;
	});

	.adaptive-mobile({
		--content-padding-lr: 20px;
		
		--h1-font-size: 24px;
		--h2-font-size: 22px;
		--h3-font-size: 20px;
		--h4-font-size: 18px;
		--h5-font-size: 16px;
	});
}

a {
	color: var(--link-color);
	text-decoration: var(--link-decoration);
	font-weight: var(--link-weight);
	text-underline-offset: 4px;

	&:hover,
	&:focus {
		color: var(--hover--link-color);
		text-decoration: var(--hover--link-decoration);
	}
}

button {
	padding: 0 20px;
	min-height: 36px;
	margin: 0;
	position: relative;

	&.loading {
		&:after {
			content: '';
			display: block;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			border: 2px solid rgba(255, 255, 255, 0.2);
			border-top-color: var(--text-color);
			animation: spin 0.5s infinite steps(100);
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -10px;
			margin-top: -10px;
		}
	}
}

.app {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	min-width: 300px;
	z-index: 100;
	overflow: hidden;
	transition: transform ease 200ms;
}

.app-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: #fff;
}

.app-nav {
	background: #000;
	color: #fff;

	--nav-height: 80px;
	--text-color: #fff;
	--link-color: #fff;
	--link-decoration: none;
	--hover--link-color: #fff;

	& .content-width {
		height: var(--nav-height);
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		column-gap: calc(var(--content-padding-lr) * 2);
	}

	& a.logo {
		flex: 0 0 auto;
		font-size: 28px;
		line-height: 40px;
		text-decoration: none;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		column-gap: 10px;

		& svg {
			width: 40px;
			height: 40px;
		}

		& span {
			text-transform: uppercase;
		}
	}

	& ul {
		flex: 1 1 auto;
		display: flex;
		flex-flow: row nowrap;
		column-gap: 40px;

		--hover--link-decoration: underline;
	}

	.adaptive-tablet({
		& ul {
			column-gap: 30px;
		}
	});

	.adaptive-tablet-small({
		& ul {
			display: none;
		}
	});
}

.app-content {
	flex: 1 1 auto;
	box-sizing: border-box;
	padding-bottom: var(--content-padding-lr);
}

body.bp-state {
	&-loading {
		& .app-loader {
			display: block;
			animation: loading 3s linear infinite;
			animation-play-state: running;
			opacity: 0.8;
		}
	}

	&-loaded {
		& .app-loader {
			animation-duration: 2s;
			transition: opacity ease 2s, width ease 2s;
			width: 100%;
			opacity: 0;
		}
	}
}

@import "animations.less";